.animation-inner-view-css {
    width: 100px;
    height: 100px;
    background-color: green;
}

.animation-view-css {
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 200px;
}

.animation-inner-absolute-view-css {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
}

.animation-inner-view-gold-css {
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fc5e1b;
}

.es-sdk-content-animation-row-css{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    padding-right: 40px;
}